  <mat-drawer-container autosize>
    <mat-drawer #drawer mode="side">
      <mat-card>
        <mat-card-content [formGroup]="form">
          <div>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput [formControl]="name">
            </mat-form-field>
            <mat-form-field>
              <mat-label>AC</mat-label>
              <input matInput [formControl]="ac">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Perception</mat-label>
              <input matInput [formControl]="perception">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Insight</mat-label>
              <input matInput [formControl]="insight">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Investigation</mat-label>
              <input matInput [formControl]="investigation">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Str</mat-label>
              <input matInput [formControl]="str">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Dex</mat-label>
              <input matInput [formControl]="dex">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Con</mat-label>
              <input matInput [formControl]="con">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Int</mat-label>
              <input matInput [formControl]="int">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Wis</mat-label>
              <input matInput [formControl]="wis">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Cha</mat-label>
              <input matInput [formControl]="cha">
            </mat-form-field>
          </div>
          <button mat-flat-button color="primary" (click)="handleClick()">Add</button>
        </mat-card-content>
      </mat-card>
    </mat-drawer>

    <button mat-mini-fab (click)="drawer.toggle()">
      <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
      <mat-icon *ngIf="drawer.opened">menu_open</mat-icon>
    </button>

    <app-character-card *ngFor="let character of characters; let i = index"
                        (closed)="handleClosed(i)"
                        [character]="character"
    ></app-character-card>
  </mat-drawer-container>
