mat-card {
  flex-direction: column;
  display: inline-flex;
  margin: 2rem;
}

mat-drawer-container {
  height: 100%;
}

button {
  margin: .25rem;
}

mat-form-field{
  margin: .25rem;
  max-width: 30%;
}

.character-form{
  margin: .5rem;
}
