<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side">
    <div>
      <button mat-mini-fab (click)="drawer.toggle()" *ngIf="drawer.opened">
        <mat-icon>menu_open</mat-icon>
      </button>
    </div>
      <div class="character-form" [formGroup]="form">
        <div>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput [formControl]="name">
          </mat-form-field>
          <mat-form-field>
            <mat-label>AC</mat-label>
            <input matInput [formControl]="ac">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Perception</mat-label>
            <input matInput [formControl]="perception">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Insight</mat-label>
            <input matInput [formControl]="insight">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Investigation</mat-label>
            <input matInput [formControl]="investigation">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Str</mat-label>
            <input matInput [formControl]="str">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Dex</mat-label>
            <input matInput [formControl]="dex">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Con</mat-label>
            <input matInput [formControl]="con">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Int</mat-label>
            <input matInput [formControl]="int">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Wis</mat-label>
            <input matInput [formControl]="wis">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Cha</mat-label>
            <input matInput [formControl]="cha">
          </mat-form-field>
        </div>
        <button mat-flat-button color="primary" (click)="handleClick()">Add</button>
      </div>
  </mat-drawer>

  <button mat-mini-fab (click)="drawer.toggle()" *ngIf="!drawer.opened">
    <mat-icon>menu</mat-icon>
  </button>

  <app-character-card *ngFor="let character of characters; let i = index"
                      (closed)="handleClosed(i)"
                      [character]="character"
  ></app-character-card>
</mat-drawer-container>
