@import 'theme';

html, body { height: 100%; }
body { margin: 0; font-family: Monospaced, "Roboto", sans-serif; background-color: black}

$custom-typography: mat-typography-config(
  $font-family: 'monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($custom-typography);


.close-button{
  margin-left: auto;
}

::ng-deep .mat-mini-fab{
  align-items: baseline !important;
}
