<mat-card cdkDrag>
  <mat-card-content>
    <div class="header--push-right" name>{{character.name}}</div>
    <div ac class="header--push-right">AC: {{character.ac}}</div>
    <div ac>Initiative: {{character.inint}}</div>
    <div class="close-button">
      <button mat-mini-fab (click)="handleClick()">
        <mat-icon>clear</mat-icon>
      </button>
    </div>

  </mat-card-content>

  <mat-card-content class="stats">
    <div class="stats__column">
      <div perception>Perception: {{character.perception}}</div>
      <div investigation>Investigation: {{character.investigation}}</div>
      <div insight>Insight: {{character.insight}}</div>
    </div>
    <div class="stats__column">
      <div str>STR: {{formatBonus(character.str)}}</div>
      <div dex>DEX: {{formatBonus(character.dex)}}</div>
      <div con>CON: {{formatBonus(character.con)}}</div>
    </div>
    <div class="stats__column">
      <div int>INT: {{formatBonus(character.int)}}</div>
      <div wis>WIS: {{formatBonus(character.wis)}}</div>
      <div cha>CHA: {{formatBonus(character.cha)}}</div>
    </div>
  </mat-card-content>
</mat-card>
